<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.matd.coolplugin"
    version="0.2.11">
    <name>CoolPlugin</name>
    <description>The coolest Plugin ever implemented</description>
    <license>Apache 2.0</license>
    <keywords>cordova,coolest</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/CoolPlugin.js" name="CoolPlugin">
        <clobbers target="CoolPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CoolPlugin" >
                <param name="android-package" value="CoolPlugin"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.zxing.client.android.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="@string/share_name">
                <intent-filter>
                    <action android:name="com.phonegap.plugins.barcodescanner.ENCODE"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="@string/share_name">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>
		
        <source-file src="src/android/CoolPlugin.java" target-dir="src/" />
		<source-file src="src/android/libs/d7800.jar" target-dir="libs/" />
		<source-file src="src/android/libs/honeywell.jar" target-dir="libs/" />
    </platform>

</plugin>